.object
{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

}
.window
{
    flex: 1;
    background-color: lightgray;
    font-size: xx-large;
    text-align: center;
}
.calculator
{
    background-color: lightpink;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    align-items: flex-end;
}

.operator
{
    flex: 1;
    width: 50px;
    margin: 5px;
    font-size: xx-large;
}